%div{style: 'text-align: center !important;'}
  %h3 ¡Bienvenido a COES-ODONT!

  %p
    Le damos la más cordial bienvenida al Sistema de Gestión Académica de la Facultad de Odontología de la Universidad Central de Venezuela, 

  %h1 COES-ODONT
    
  %p
    Puede ingresas haciendo clíc en el siguiente enlace: 
    = link_to 'coesodont.com', 'https://coesodont.com'
    e ingresar con el número de su cédula de identidad en ambos campos
